body{
    background-image: url("https://images.saymedia-content.com/.image/t_share/MTc4NzM1OTc4MzE0MzQzOTM1/how-to-create-cool-website-backgrounds-the-ultimate-guide.png");
    background-color: aqua; 
    width: 80%;
    height: 100%;
    margin-left: 10%;
    margin-right: 10%;
}
body h2{
    text-align: center;
}